[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
pyarrow = "*"
botocore = "*"
pyyaml = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
